        body{
            font:arial ;
            /* background-color: #c2c2c2; */
            /* display: flex;
            justify-content: center;
            /* text-align: center; */
            /* align-items: center; */
            /* height: 100vh; */ 
            /* display: block; */
            /* width: 500px; */
            background-image: linear-gradient(#ecf1ec,#800202);
            /* background-position: 100%; */
            /* background-repeat: no-repeat; */
            /* background-size:contain; */
            height: 100vh;
            /* height: 100%; */
            /* animation:cubic-bezier(0.785, 0.135, 0.15, 0.86); */
            /* display: block; */
        }
        .huh{
            background-color: white;
            padding: 10px;
            border: 5 solid black;
            border-radius: 15px;
            box-shadow: 0 10px 5px;
            /* box-sizing: border-box; */
            border-style: bold black;
            /* display: inline-flex; */
            font-weight: bold;
            /* width: 300px;
            height: 300px; */
            display: block;
            box-sizing: border-box;
            width: 450px;
            /* height: 400px; */
            /* height: 400px; */
            margin: 40px auto;
        }
        label{
            padding: 5px;
            display: block;
            font: 600;
            /* margin-bottom: 5px; */
        }
        input{
            width: 50%;
            padding: 5px;
        }
        button{
            width: 20%;
            padding: 5px;
            /* align-items: center; */
            /* text-align: center; */
            margin-top: 10px;
            background-color: gray;
        }
        button:hover{
            background-color: gold;
        }
        h2{
            align-items: center;
            text-align: center;
        }
        /* button{
            align-items: center;
            text-align: center;
        } */
        .error{
            color: red;
        }
        /* .eye{
            position:absolute;
        } */
        span{
            /* position: absolute; */
            right: 10px;
            top: 38px;
            cursor: pointer;
        }
        span:hover{
            color: #800202;
        }
        canvas{
            border: 1px solid #000;
            margin-top: 10px;
        }

        .refresh{
            cursor: pointer;
            color: blue;
            font-size: 14px;
        }
        .image-section img{
            width: 85%;
            animation: float 3s ease-in-out infinite;
        }
        @keyframes float {
            0% { transform: translateY(0px); }
            50% { transform: translateY(-15px); }
            100% { transform: translateY(0px); }
        }